/* Quiz 2 CSS File */

body {
  width: 1000px;
}

#bodyBlock {
  width: 700px;
  margin: auto;
}

.makeItPurple  {
  color: purple;
  font: italic;
  font-variant: small-caps;
}

#h1{
  text-align: center;
}
#h4{
  text-align: center;
}