channel{
    background-color: #ffffff;
    width: 100%;
}

item{
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}
title {
    display: block;
    color: #ff0000;
    font-size: 20pt;
}
description {
    display: block;
    color: #0000ff;
    font-size: 20pt;
}