<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Lab # Summary</title>
   <!-- Internal CSS styles are placed inside the style folder in the <head> section -->
   <link rel="stylesheet" href="/style/styleRoot.css">
</head>

<body>
   <div class="home-container">
      <!-- Name and contact info -->
      <h1>Lab # Summary</h1>


      <h2> Lab Summary </h2>
      <p> Placeholder</p>

      <h2> Challenges </h2>
      <p>Placeholder</p>


      <p><a href="template.html">Placeholder</a></p>

   </div>
</body>

</html>